$theme-color: #42A5F5;
$ty1-color: #b1b1b1;
$ty2-color: #e4653f;
$ty3-color: #50abda;
$ty4-color: #9ac30e;
$ty5-color: #e8c71a;
$ty6-color: #53c4e5;
$ty7-color: #e99a3f;
$ty8-color: #ba79c1;
$ty9-color: #c8a841;
$ty10-color: #5e9fe2;
$ty11-color: #e885b2;
$ty12-color: #6cbe50;
$ty13-color: #b08754;
$ty14-color: #756eb4;
$ty15-color: #6c81c8;
$ty16-color: #5a3c1e;
$ty17-color: #919191;
$ty18-color: #e06cbb;

.container{
    max-width: 600px!important;
    background-color: #fff;
}
@media screen and (min-width:600px) { 
    .container{
        border-radius:5px;
    }
}
.back-ground-color-sm-and-down{
    background-color: $theme-color;
}
.rounded-card{
    border-radius:5px;
}
.rounded-card-20{
    border-radius:20px;
}
.btn-tw {
    color: white !important;
    background-color: #00aced !important;
}
.awesome-green {color: green}
.awesome-red {color: red}
.awesome-blue {color: deepskyblue}
.awesome-yellow {color:gold}
.awesome-orange {color:orange}
.awesome-darkgoldenrod {color:darkgoldenrod}
.awesome-black {color: black}
.awesome-white {color: white}
.read-enter-active, .read-leave-active {
    transition: all 0.15s
}
.read-enter{
    opacity: 0;
    transform: translate(500px, 0);
}
.index-enter-active, .index-leave-active {
    transition: all 0.2s
}
.index-leave-active {
    opacity: 0;
    transform: scale(0);
    transform: translate(500px, 0);
}
.border-top{
    border-top: 1px solid #f2f2f2;
}
.border-bottom{
    border-bottom: 2px solid $theme-color;
}
.command_area{
    margin-bottom:100px;
}
.type_area {
    white-space: nowrap !important;
}
  .type_area span{
    text-align: center !important;
  
}
.ty-area:focus:before {
    opacity: 0 !important;
}
.ty1 {
    border: 1px solid $ty1-color !important;
}
.ty1.active {
    background-color: $ty1-color !important;
    color: #ffffff !important;
}
.ty2 {
 border: 1px solid $ty2-color !important;
}
.ty2.active {
 background-color: $ty2-color !important;
 color: #ffffff !important;
}
.ty3 {
 border: 1px solid $ty3-color !important;
}
.ty3.active {
 background-color: $ty3-color !important;
 color: #ffffff !important;
}
.ty4 {
 border: 1px solid $ty4-color !important;
}
.ty4.active {
 background-color: $ty4-color !important;
 color: #ffffff !important;
}
.ty5 {
 border: 1px solid $ty5-color !important;
}
.ty5.active {
 background-color: $ty5-color !important;
 color: #ffffff !important;
}
.ty6 {
 border: 1px solid $ty6-color !important;
}
.ty6.active {
 background-color: $ty6-color !important;
 color: #ffffff !important;
}
.ty7 {
 border: 1px solid $ty7-color !important;
}
.ty7.active {
 background-color: $ty7-color !important;
 color: #ffffff !important;
}
.ty8 {
 border: 1px solid $ty8-color !important;
}
.ty8.active {
 background-color: $ty8-color !important;
 color: #ffffff !important;
}
.ty9 {
 border: 1px solid $ty9-color !important;
}
.ty9.active {
 background-color: $ty9-color !important;
 color: #ffffff !important;
}
.ty10 {
 border: 1px solid $ty10-color !important;
}
.ty10.active {
 background-color: $ty10-color !important;
 color: #ffffff !important;
}
.ty11 {
 border: 1px solid $ty11-color !important;
}
.ty11.active {
 background-color: $ty11-color !important;
 color: #ffffff !important;
}
.ty12 {
 border: 1px solid $ty12-color !important;
}
.ty12.active {
 background-color: $ty12-color !important;
 color: #ffffff !important;
}
.ty13 {
 border: 1px solid $ty13-color !important;
}
.ty13.active {
 background-color: $ty13-color !important;
 color: #ffffff !important;
}
.ty14 {
 border: 1px solid $ty14-color !important;
}
.ty14.active {
 background-color: $ty14-color !important;
 color: #ffffff !important;
}
.ty15 {
 border: 1px solid $ty15-color !important;
}
.ty15.active {
 background-color: $ty15-color !important;
 color: #ffffff !important;
}
.ty16 {
 border: 1px solid $ty16-color !important;
}
.ty16.active {
 background-color: $ty16-color !important;
 color: #ffffff !important;
}
.ty17 {
 border: 1px solid $ty17-color !important;
}
.ty17.active {
 background-color: $ty17-color !important;
 color: #ffffff !important;
}
.ty18 {
 border: 1px solid $ty18-color !important;
}
.ty18.active {
 background-color: $ty18-color !important;
 color: #ffffff !important;
}

@media screen and (min-width:600px) { 
    .ty1:hover{
        background-color: $ty1-color;
        color: #ffffff;
    }
    .ty2:hover{
        background-color: $ty2-color;
        color: #ffffff;
    }
    .ty3:hover{
        background-color: $ty3-color;
        color: #ffffff;
    }
    .ty4:hover{
        background-color: $ty4-color;
        color: #ffffff;
    }
    .ty5:hover{
        background-color: $ty5-color;
        color: #ffffff;
    }
    .ty6:hover{
        background-color: $ty6-color;
        color: #ffffff;
    }
    .ty7:hover{
        background-color: $ty7-color;
        color: #ffffff;
    }
    .ty8:hover{
        background-color: $ty8-color;
        color: #ffffff;
    }
    .ty9:hover{
        background-color: $ty9-color;
        color: #ffffff;
    }
    .ty10:hover{
        background-color: $ty10-color;
        color: #ffffff;
    }
    .ty11:hover{
        background-color: $ty11-color;
        color: #ffffff;
    }
    .ty12:hover{
        background-color: $ty12-color;
        color: #ffffff;
    }
    .ty13:hover{
        background-color: $ty13-color;
        color: #ffffff;
    }
    .ty14:hover{
        background-color: $ty14-color;
        color: #ffffff;
    }
    .ty15:hover{
        background-color: $ty15-color;
        color: #ffffff;
    }
    .ty16:hover{
        background-color: $ty16-color;
        color: #ffffff;
    }
    .ty17:hover{
        background-color: $ty17-color;
        color: #ffffff;
    }
    .ty18:hover{
        background-color: $ty18-color;
        color: #ffffff;
    }
}

h1{
    font-size:1.3em !important;
    background-color: $theme-color;
    color: #ffffff;
    text-align: center;
    border-radius: 6px !important;
}
h2{
    border:none !important;
    border-bottom: solid 2px #2196F3 !important;
    border-radius: 0px !important;
}
h2 span {
    background: #2196F3;
    color: #fff;
    border-radius: 5px 5px 0 0;
    padding: 3px 7px 1px;
    font-size: 0.5em;
    line-height: 1;
    letter-spacing: 0.05em
}
.description p {
    border-bottom: solid 2px #2196F3 !important;
    padding-bottom: 3px;
    margin-bottom:10px;
}

$theme-color: #FFD700;
  
.ribbon {
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 6px;
    margin: 0;
    padding: 5px 0;
    z-index: 2;
    width: 40px;
    text-align: center;
    color: white;
    font-size: 17px;
    // background: linear-gradient(#ff785b 0%, #e95738 100%);
    background: $theme-color;
    border-radius: 2px 0 0 0;
}

@media screen and (min-width:600px) { 
    .ribbon{
        top: -8px;
    }
}
  
.ribbon:before {
    position: absolute;
    content: '';
    top: 0;
    right: -6px;
    border: none;
    border-bottom: solid 6px $theme-color;
    border-right: solid 6px transparent;
}
.ribbon:after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    height: 0;
    width: 0;
    border-left: 20px solid $theme-color;
    border-right: 20px solid $theme-color;
    border-bottom: 10px solid transparent;
}