$theme-color: #1E88E5;
$ty1-color: #b1b1b1;
$ty2-color: #e4653f;
$ty3-color: #50abda;
$ty4-color: #9ac30e;
$ty5-color: #e8c71a;
$ty6-color: #53c4e5;
$ty7-color: #e99a3f;
$ty8-color: #ba79c1;
$ty9-color: #c8a841;
$ty10-color: #5e9fe2;
$ty11-color: #e885b2;
$ty12-color: #6cbe50;
$ty13-color: #b08754;
$ty14-color: #756eb4;
$ty15-color: #6c81c8;
$ty16-color: #5a3c1e;
$ty17-color: #919191;
$ty18-color: #e06cbb;

.container{
    max-width: 600px;
    background-color: #fff;
}
.back-ground-color-sm-and-down{
    background-color: $theme-color;
}
.rounded-card{
    border-radius:5px;
}
.rounded-card-20{
    border-radius:20px;
}
.btn-tw {
    color: white !important;
    background-color: #00aced !important;
}
.awesome-green {color: green}
.awesome-red {color: red}
.awesome-blue {color: deepskyblue}
.awesome-yellow {color:gold}
.awesome-orange {color:orange}
.awesome-darkgoldenrod {color:darkgoldenrod}
.awesome-black {color: black}
.awesome-white {color: white}
.read-enter-active, .read-leave-active {
    transition: all 0.15s
}
.read-enter{
    opacity: 0;
    transform: translate(500px, 0);
}
.index-enter-active, .index-leave-active {
    transition: all 0.2s
}
.index-leave-active {
    opacity: 0;
    transform: scale(0);
    transform: translate(500px, 0);
}
.border-top{
    border-top: 1px solid #f2f2f2;
}
.border-bottom{
    border-bottom: 2px solid $theme-color;
}
.ty-area:focus:before {
    opacity: 0 !important;
}
.ty1 {
    border: 1px solid $ty1-color;
}
.ty1.active {
    background-color: $ty1-color;
    color: #ffffff;
}
.ty1:hover {
 background-color: $ty1-color;
 color: #ffffff;
}
.ty2 {
 border: 1px solid $ty2-color;
}
.ty2.active {
 background-color: $ty2-color;
 color: #ffffff;
}
.ty2:hover {
 background-color: $ty2-color;
 color: #ffffff;
}
.ty3 {
 border: 1px solid $ty3-color;
}
.ty3.active {
 background-color: $ty3-color;
 color: #ffffff;
}
.ty3:hover {
 background-color: $ty3-color;
 color: #ffffff;
}
.ty4 {
 border: 1px solid $ty4-color;
}
.ty4.active {
 background-color: $ty4-color;
 color: #ffffff;
}
.ty4:hover {
 background-color: $ty4-color;
 color: #ffffff;
}
.ty5 {
 border: 1px solid $ty5-color;
}
.ty5.active {
 background-color: $ty5-color;
 color: #ffffff;
}
.ty5:hover {
 background-color: $ty5-color;
 color: #ffffff;
}
.ty6 {
 border: 1px solid $ty6-color;
}
.ty6.active {
 background-color: $ty6-color;
 color: #ffffff;
}
.ty6:hover {
 background-color: $ty6-color;
 color: #ffffff;
}
.ty7 {
 border: 1px solid $ty7-color;
}
.ty7.active {
 background-color: $ty7-color;
 color: #ffffff;
}
.ty7:hover {
 background-color: $ty7-color;
 color: #ffffff;
}
.ty8 {
 border: 1px solid $ty8-color;
}
.ty8.active {
 background-color: $ty8-color;
 color: #ffffff;
}
.ty8:hover {
 background-color: $ty8-color;
 color: #ffffff;
}
.ty9 {
 border: 1px solid $ty9-color;
}
.ty9.active {
 background-color: $ty9-color;
 color: #ffffff;
}
.ty9:hover {
 background-color: $ty9-color;
 color: #ffffff;
}
.ty10 {
 border: 1px solid $ty10-color;
}
.ty10.active {
 background-color: $ty10-color;
 color: #ffffff;
}
.ty10:hover {
 background-color: $ty10-color;
 color: #ffffff;
}
.ty11 {
 border: 1px solid $ty11-color;
}
.ty11.active {
 background-color: $ty11-color;
 color: #ffffff;
}
.ty11:hover {
 background-color: $ty11-color;
 color: #ffffff;
}
.ty12 {
 border: 1px solid $ty12-color;
}
.ty12.active {
 background-color: $ty12-color;
 color: #ffffff;
}
.ty12:hover {
 background-color: $ty12-color;
 color: #ffffff;
}
.ty13 {
 border: 1px solid $ty13-color;
}
.ty13.active {
 background-color: $ty13-color;
 color: #ffffff;
}
.ty13:hover {
 background-color: $ty13-color;
 color: #ffffff;
}
.ty14 {
 border: 1px solid $ty14-color;
}
.ty14.active {
 background-color: $ty14-color;
 color: #ffffff;
}
.ty14:hover {
 background-color: $ty14-color;
 color: #ffffff;
}
.ty15 {
 border: 1px solid $ty15-color;
}
.ty15.active {
 background-color: $ty15-color;
 color: #ffffff;
}
.ty15:hover {
 background-color: $ty15-color;
 color: #ffffff;
}
.ty16 {
 border: 1px solid $ty16-color;
}
.ty16.active {
 background-color: $ty16-color;
 color: #ffffff;
}
.ty16:hover {
 background-color: $ty16-color;
 color: #ffffff;
}
.ty17 {
 border: 1px solid $ty17-color;
}
.ty17.active {
 background-color: $ty17-color;
 color: #ffffff;
}
.ty17:hover {
 background-color: $ty17-color;
 color: #ffffff;
}
.ty18 {
 border: 1px solid $ty18-color;
}
.ty18.active {
 background-color: $ty18-color;
 color: #ffffff;
}
.ty18:hover {
 background-color: $ty18-color;
 color: #ffffff;
}